<h1>Listar transações</h1>

<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @transacoes.each do |transacao| %>
      <tr>
        <td>
          <%= transacao.descricao %>
        </td>
        <td>
          <%= transacao.valor %>
        </td>
        <td>
          <%= button_to "Detalhes", transaco_path(id: transacao.id), method: :get, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Nova transação", new_transaco_path, method: :get, class: "my-2 btn btn-success" %>
<%= button_to "Voltar", root_path, method: :get, class: "btn btn-secondary" %>
